@model Entertainers

<div class="text-center">
    <h2>@Model.EntStageName</h2>
    <div>SSN: @Model.EntSSN</div>
    <div>Address: @Model.EntStreetAddress, @Model.EntCity, @Model.EntState, @Model.EntZipCode</div>
    <div>Phone: @Model.EntPhoneNumber</div>
    <div>Email: @Model.EntEMailAddress</div>
    <div>Web Page: @Model.EntWebPage</div>
    <div>Date Entered: @Model.DateEntered</div>

    @{
        int id = Model.EntertainerID;
        //console.WriteLine(id);
    }

    <form asp-action="GoToEditArtistView" method="post">
        <input type="hidden" asp-for="@id" />
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>

<form asp-action="DeleteArtist" method="post">
        <input type="hidden" asp-for="EntertainerID" />
        <button type="submit" class="btn btn-danger">Delete</button>
</form>
<!--Why does the above delete button work?-->

</div>

<!--
<form asp-action="DeleteArtist" method="get"> 
<input type="hidden" asp-for="EntertainerID" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
-->
